body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  width: 50%;
}
.btn-primary {
  margin-right: 1%;
}
.btn-success {
  margin-left: 1%;
}
